<!-- Footer container -->
<footer class="flex flex-col items-center bg-[#772583] text-surface text-white lg:text-left">
    <div class="container p-6">
        <div class="flex justify-start sm:justify-end items-center mb-6 sm:mb-0 w-full gap-4">
            <h3 style="margin-bottom: 0!important;">Siga-nos</h3>
            <div class="flex gap-3">
                <a href="https://www.linkedin.com/in/ieee-wie-ufrn-2a368526b/" target="_blank">
                    <i style="margin: 0!important;" class="mdi mdi-linkedin text-xl"></i>
                </a>
                <a href="https://www.instagram.com/wie.ufrn?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                    target="_blank">
                    <i style="margin: 0!important;" class="mdi mdi-instagram text-xl"></i>
                </a>
                <a href="mailto:wieufrn@gmail.com">
                    <i style="margin: 0!important;" class="mdi mdi-email text-xl"></i>
                </a>
            </div>
        </div>

        <div class="grid place-items-start sm:grid-cols-1 md:grid-cols-2">
            <!-- First links section -->
            <div class="mb-6">
                <h3 class="mb-2.5 font-bold">IEEE WiE UFRN</h3>

                <ul class="mb-0 list-none text-xs flex flex-col gap-2">
                    <li>
                        <a href="#!">Quem somos</a>
                    </li>
                    <li>
                        <a mat-button routerLink="/contato">Fale conosco</a>
                    </li>
                    <li>
                        <a mat-button routerLink="/parceiros">Parcerias</a>
                    </li>
                </ul>
            </div>

            <!-- Second links section -->
            <div class="mb-6">
                <h3 class="mb-2.5 font-bold">Ajuda</h3>

                <ul class="mb-0 list-none text-xs flex flex-col gap-2">
                    <li>
                        <a href="#!">Política de privacidade</a>
                    </li>
                    <li>
                        <a href="#!">Alterar ou cancelar reserva</a>
                    </li>
                    <li>
                        <a href="#!">Termos de uso</a>
                    </li>
                </ul>
            </div>

            <!-- Third links section -->
        </div>
    </div>

    <!-- Copyright section -->
    <div class="w-full mb-2 text-end text-xs opacity-50">
        <a href="https://tw-elements.com/">© 2024 IEEE WiE Day 2024 UFRN. Todos os direitos reservados.</a>
    </div>
</footer>