<mat-card appearance="outlined" class="mx-40 mt-10">
    <mat-card-header>
        <mat-card-title>LinkedIn</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <a href="https://www.linkedin.com/in/ieee-wie-ufrn-2a368526b/" target="_blank" mat-button>
            <i style="margin: 0!important;" class="mdi mdi-linkedin text-xl"></i> IEEE WIE UFRN
        </a>
    </mat-card-actions>
</mat-card>
<br>
<mat-card appearance="outlined" class="mx-40 mt-10">
    <mat-card-header>
        <mat-card-title>Instagram</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <a href="https://www.instagram.com/wie.ufrn?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" mat-button>
            <i style="margin: 0!important;" class="mdi mdi-instagram text-xl"></i> &#64;wie.ufrn
        </a>    
    </mat-card-actions>
</mat-card>
<br>
<mat-card appearance="outlined" class="mx-40 my-10">
    <mat-card-header>
        <mat-card-title>Email</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <a href="mailto:wieufrn@gmail.com" mat-button>
            <i style="margin: 0!important;" class="mdi mdi-email text-xl"></i> wieufrn&#64;gmail.com
        </a>    
    </mat-card-actions>
</mat-card>