<app-form-contact-us></app-form-contact-us>
<div class="flex justify-center mt-20 mb-20">
    <div class="w-24 text-center mx-40">
        <div class="rounded-full border border-purple-700 shadow-md p-4 m-4 flex items-center justify-center mb-2">
            <a href="https://www.linkedin.com/in/ieee-wie-ufrn-2a368526b/" target="_blank">
                <i class="mdi mdi-linkedin text-xl text-purple-700"></i>
            </a>
        </div>
        <p class="mt-2 text-center">LinkedIn</p>
        <p class="mt-1 text-center">IEEE WIE UFRN</p>
    </div>

    <div class="w-24 text-center mx-40">
        <div class="rounded-full border border-purple-700 shadow-md p-4 m-4 flex items-center justify-center mb-2">
            <a href="https://www.instagram.com/wie.ufrn?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                <i class="mdi mdi-instagram text-xl text-purple-700"></i>
            </a>
        </div>
        <p class="mt-2 text-center">Instagram</p>
        <p class="mt-1 text-center">&#64;wie.ufrn</p>
    </div>

    <div class="w-24 text-center mx-40">
        <div class="rounded-full border border-purple-700 shadow-md p-4 m-4 flex items-center justify-center mb-2">
            <a href="mailto:wieufrn@gmail.com">
                <i class="mdi mdi-email text-xl text-purple-700"></i>
            </a>
        </div>
        <p class="mt-2 text-center">Email</p>
        <p class="mt-1 text-center">wieufrn&#64;gmail.com</p>
    </div>
</div>
