<div class="card-container" *ngFor="let item of partners">
    <mat-card class="example-card" appearance="outlined">
            <mat-card-title-group>
                <mat-card-content>
                    <mat-card-title>{{ item.name }}</mat-card-title>
                    {{ item.content }}
                </mat-card-content>
                <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </mat-card-title-group>
            <mat-card-actions>
                <span class="spacer"></span>
            </mat-card-actions>
    </mat-card>
</div>