<mat-card class="example-card" appearance="outlined">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <h3 class="text-center text-[#772583]" style="margin: 16px; font-weight: bold">
            Anna Giselle
        </h3>
        <p class="text-[#772583] truncate-text">
            Professora do IMD, graduada em Ciência da Computação, especializada em Inteligência Artificial e com
            diversos projetos em andamento na área de Machine Learning e Data Science.
        </p>
    </mat-card-content>
</mat-card>