<div class="flex flex-wrap w-full justify-center gap-10 my-10">
    <mat-card *ngFor="let item of participants" class="w-[220px]" appearance="outlined">
        <div class="h-[300px] object-cover">
            <img class="object-cover w-full h-full" mat-card-image [src]="item.imagePath" alt="Participant Image">
        </div>
        <mat-card-content>
            <h3 class="text-center text-[#772583]" style="margin: 16px; font-weight: bold">
                {{item.name}}
            </h3>
            <p class="text-[#772583] truncate-text">
                {{item.content}}
            </p>
        </mat-card-content>
    </mat-card>
</div>