<main class="content">
    <h1 class="titulo">IEEE WiE Day 2024</h1>
    <h2 class="titulo">Engajando mais mulheres em tecnologias de IA e 4IR</h2>
    <p>
        O IEEE WIE DAY é um evento anual organizado pelo IEEE Women in Engineering (WIE) para celebrar e promover o
        papel
        das mulheres em STEM (Ciência, Tecnologia, Engenharia e Matemática). Globalmente, ocorre de 23 de junho a 12 de
        julho, coincidindo com o 'Dia Internacional da Mulher na Engenharia'.
    </p>
    <p>
        O evento tem como objetivo fortalecer redes de apoio, oferecer desenvolvimento profissional e pessoal por meio
        de
        palestras, workshops, competições e sessões de networking. Além disso, busca promover a igualdade de gênero, a
        diversidade e a inclusão no ambiente tecnológico, capacitando mulheres a alcançarem seu pleno potencial em áreas
        fundamentais para o progresso global.
    </p>
    <p>
        Para celebrar o IEEE WIE DAY, o IEEE WIE UFRN está organizando um evento marcado para o dia 6 de julho de 2024,
        no CTEC UFRN, com sessões programadas das 9h às 12h e das 14h às 17h.
    </p>
</main>