<mat-toolbar color="primary" class="nav">
    <img src="assets/wie2.png" alt="Logo" class="logo">
    <div class="spacer"></div>
    <a mat-button routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    <a mat-button routerLink="/evento">Evento</a>
    <a mat-button routerLink="/programacao">Programação</a>
    <a mat-button routerLink="/empresas">Empresas</a>
    <a mat-button routerLink="/contato">Contato</a>
    <a mat-raised-button routerLink="/inscricao">Inscrição</a>
</mat-toolbar>